
body{
    background-image:url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNWUwbWdwcGIyc2U4MHVqaWRiaWk5enJ0czA2a3FwOW5zYm1jcmRpNiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/5vidmSHUsyoybSYNN0/giphy.gif);
   
}
section{
    background-image: linear-gradient(to right,#0A359C,#09929C,#3C099C);
    width:auto;
    height: auto;
    padding-bottom: 10px;
    border: solid black;
    
    
}
#Project{
    text-align: center;

    margin-top: 150px;
    
}

nav{
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
   
   
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px
    ;
    

}
.profile-img{
    margin-top: 20px;
    margin-left:  40px; ;
   
    border-radius: 50%;
}
.intro{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 400px;
    font-size: larger;
   
    margin-left: 45px;
    margin-top: 20px;
    margin-bottom: 0;
}
.Showcase{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 25px;
}
.img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
   
    
    
}
.img-button{
    margin-top: 10px;
    border-radius: 45%;
    background-color: white;
}
#about{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly ;
    align-items: center;
    text-align: center;
}
.code-img{
    float: left;
    width: 250px;
  height: 250px;
  object-fit: cover;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  border: solid black;
}
#footer{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    justify-content: space-evenly;
    align-items: center;
    
}
#Contact{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
html{
    scroll-behavior: smooth;
}
@media(max-width:700px){
    .Showcase,.intro{
      
        flex-direction: column;
    }
    .profile-img{
        width: 10em;
        height: auto;
    }
    section{
        
        width: 100vh;
    }
}

